text {
  font: 10px sans-serif;
}

.charts {
  height:300px;
  width:400px;
}

body {
  font: 12px sans-serif;
}

circle:hover {
  cursor: pointer;
}

path:hover {
  cursor: pointer;
}

.category text {
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.recession {
  fill: lightgrey;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.tick.major line {
  stroke: lightgrey;
  /*opacity: 0.7;*/
}

.bar {
  fill: steelblue;
}

.error {
  stroke: black;
  stroke-width:2;
}

.average {

  stroke-width:2;

}

#average0 {
  stroke: black;
  stroke-dasharray: 6, 1;
}

#average1 {
  stroke: black;
}
